.section1-wrapper {
    height: 70vh;
    position: relative;
}

.header-image {
    height: 100%;
    position: relative;
    background: url("../Assets/Images/header-cover.jpg") center/cover no-repeat;
}

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logo {
    fill: rgb(0, 237, 130);
    height: 24 px;
    width: 50px;
}

